## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="disqus" file="disqus_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="extra_head">
${helper.twitter_card_information(post)}
</%block>
<%block name="content">
    <h1>
        <img src="site-header-logo.png"
         alt="Fatiando a Terra: Geophysical modeling and inversion">
    </h1>
    <h2>${title}</h2>
    ${post.text()}
</%block>
