## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="post_helper" file="post_helper.tmpl"/>
<%namespace name="disqus" file="disqus_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
    <h1>Posts</h1>
    <% 
        used_dates = []
    %>
    % for post in posts:
        <%
            postdate = post.date.strftime(date_format)
        %>
        % if postdate[:4] not in used_dates:
            ##% if used_dates:
                ##<hr />
            ##% endif
            <h2>${postdate[:4]}</h2>
            <% used_dates.append(postdate[:4]) %>
        % endif
        <p>
        <time class="published" datetime="${post.date.isoformat()}">${postdate[:10]}</time>:
        <a href="${post.permalink(lang)}">${post.title(lang)}</a>
        </p>
    % endfor
    ${helper.html_pager()}
    ${disqus.html_disqus_script()}
    ${helper.mathjax_script(post)}
</%block>
